<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout | Design Studio</title>
</head>

<body>
    <section class="top-header">
        <header>
            <div class="conteiner">
                <div class="logo">
                    <h1>silika</h1>
                    <a class="red">We’re Hiring</a>
                </div>
                <!-- Fim: Logo -->
                <nav>
                    <ul>
                        <li><a href="#">user cases</a></li>
                        <li><a href="#">resources</a></li>
                        <li><a href="#">weekly demos</a></li>
                        <li><a href="#">pricing</a></li>
                    </ul>
                </nav>
                <!-- Fim: Menu -->

                <div class="login">
                    <a href="#">Login</a>
                    <a class="green">Get Started</a>

                </div>
            </div>
        </header>


        <div class="cta">
            <div class="conteiner">
                <h2>Silika Helps <br> Marketing Agencies!</h2>
                <p>At nulla tristique facilisis augue. <br> Lectus diam dignissim erat blandit pellentesque egestas
                    nulla a. Nulla consectetur nunc egestas metus pellentesque.</p>

                <div class="bts-cta">
                    <a href="#" class="green">Get Started</a>
                    <a href="#" class="red">How It Works</a>

                </div>
            </div>
        </div>
    </section>
    <!-- Section Top-Header -->

    <section class="brands">
        <div class="conteiner">
            <img src="imagens/adobe.png" alt="adobe">
            <img src="imagens/holtzan.png" alt="holtzan">
            <img src="imagens/colab.jpg" alt="colab">
            <img src="imagens/mosaic.png" alt="mosaic">
        </div>
    </section>
    <!-- Brands -->

    <section class="about-us">
        <h3>About Us</h3>
        <div class="about-us-description">
            <h4>professional & team choose copy.ai</h4>
            <p>Odio dictum lacus augue nulla sit integer facilisis massa. <br> Nec et tellus eu amet. Faucibus sit sit
                massa ullamcorper
            </p>

            <a href="#" class="green">Get Started</a>

            <div class="about-us-video">

                <a href="video"><iframe width="560" height="315"
                        src="https://www.youtube.com/embed/_gHr2Pe5LCY?si=oQvCCr0DISlIDxI3" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media;  gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe></a>

            </div>

        </div>


    </section>

    <!-- About Us -->

    <section class="our-features">
        <h3>Our Features</h3>
        <div class="conteiner"></div>
        <div class="card">
            <div class="icon-card">
                <img src="imagens/icons/img.png" alt="">
            </div>
            <div>
                <div class="description-card">

                    <h4>Blog Content</h4>
                    <p>Write optimized blog posts in
                        a fraction of the time</p>

                    <a href="#">Try Blog Content</a>

                </div>
            </div>
        </div>
    </section>

</body>

</html>